*{
  margin: 0;
  padding: 0;
  border-width: 0px;
}

body {
  background-image: url("../img/background.jpg");
  font-family: "Tahoma";
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

.wrapper {
  background-color: white;
  width: 1000px;
  margin: auto;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  position:relative;
}

.header{
  height: 164px;
  padding: 12px 28px 0 28px;
  position: relative;
  border-width: 0px;
}

.logo{
  float: left;
}

.conFlag{
  float: right;
  width: 472px;
  height: 160px;
  position: relative;
}

.contacts{
  float: right;
  font-size: 12px;
  color: #128aa7;
  width: 472px;
}

.contacts p{
  padding: 0 0 0 330px;
  height: 20px;
}

.flags li{
  float: right;
  font-size: 10px;
  text-align: center;
  padding: 0 6px;

}

.flags{
  position: absolute;
  bottom: 8px;
  right: 0px;
}

.photo{
  height: 237px;
}

.menu{
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  position:relative;
  background-color: #333333;
  height: 28px;

}

.menu a{
  display: block;
  line-height: 28px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.menu .menu_main{
  padding: 0 65px 0 0;
}

.menu__list{
  position: relative;
}

.menu:first-child{
  padding: 0 65px 0 65px;
}

.menu:last-child{
  padding: 0 0 0 65px;
}

.menu__list:hover .subMenu{
  /*opacity: 1;*/
  top: 28px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  max-height: 500px;
  transition: 0.5s all;
}

.subMenu {
  position: absolute;
  background-color: #333333;
  padding: 0 10px;
  line-height: 28px;
  /*opacity: 0;*/
  /*top:-999em;*/
  transition: 0.5s all;
  overflow-y: hidden;
  max-height: 0;
}

.menu li{
  list-style: none;
  float: left;
}

.menu__list::after{
  position: absolute;
  content: "";
  border: 5px solid;
  border-color: white transparent transparent transparent;
  top: 0.7em;
  right: 3em;
  transition: 0.5s all;
}

.menu__list:hover::after{
  position: absolute;
  content: "";
  border: 5px solid;
  border-color: transparent transparent white transparent;
  top: 0.3em;
  right: 3em;
  transition: 0.5s all;
}

.container{
  height: 545px;
}

.content{
  width: 580px;
  background-color: #fff;
  margin: auto;
  height: 545px;
}

.leftSideBar{
  float: left;
  height: 543px;
  width: 178px;
  background-color: #edeef0;
  border: 1px solid;
  border-color: #c7cacf;
  padding: 0 15px;
  line-height: 1.5;
}

.leftSideBar p{
  font-size: 18px;
  text-align: center;

}

.rightSideBar{
  float: right;
  height: 543px;
  width: 178px;
  background-color: #edeef0;
  border: 1px solid;
  border-color: #c7cacf;
  padding: 0 15px;
  line-height: 1.5;
}

.rightSideBar p{
  font-size: 18px;
  text-align: center;

}

.footer{
  width: 1000px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
}
