* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url(../fonts/MyriadPro-Regular.woff);
}

@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url(../fonts/LeagueGothic-Regular.woff);
}

@font-face {
    font-family: 'Open Sans';
    src: local("OpenSans-Regular"), url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local("OpenSans-Light"), url(../fonts/OpenSans-Light.ttf);
    font-weight: 100;
    font-weight: lighter;
}

@font-face {
    font-family: 'Open Sans';
    src: local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.ttf);
    font-weight: 400;
    font-weight: bold;
}


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
